/* *{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    /* background-color: rgb(174, 207, 235); */
/* } */
/* .heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

} */
/* .card{ */
    /* width: 23%; */
    /* box-shadow: 0 0 3px 2px palevioletred; */
    /* text-align: center; */
    /* margin-bottom: 2em; */
    /* word-wrap: break-word; */
    /* display: inline; */
    /* background: burlywood; */
/* }  */
body{

}
.profile-area{
    padding: 80px 0;
    
}
.card{
    box-shadow: 0 0 30px red;
    overflow: hidden;
    border-radius: 15px;
}
.card:hover{
    border-color: darkcyan;
    transition: .7s;
}
#cardso{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardo{
    width: 23%;
    box-shadow: 0 0 3px 2px rgb(112, 154, 216);
    text-align: center;
    margin-bottom: 2em;
}
#cardsoo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cardoo{
    width: 23%;
    box-shadow: 0 0 3px 2px rgb(110, 82, 136);
    text-align: center;
    margin-bottom: 2em;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 65%;
}
.card-img:hover{
    background-color: aquamarine;
}